<template>
  <v-row>
    <v-col cols="12" sm="12" lg="12">
      <material-card color="blue" :title="$store.getters.getUser.user.nom_eje">
        <v-row>
          <v-col sm="6" lg="6" xs-offset='3'>
            <img :src="logo" alt="" class="img_empresa"  width="310px" height="200px">
          </v-col>
          <v-col sm="6" lg="6">
            <v-simple-table>
              <template v-slot:default>

                <thead>
                  <th></th>
                  <th></th>

                </thead>
                <tbody>
                  <tr>
                    <td>Ruc :</td>
                    <td>{{$store.getters.getUser.user.ruc_eje}}</td>
                  </tr>
                  <tr>

                    <td>Lugar :</td>
                    <td>{{$store.getters.getUser.user.lug_eje}}</td>
                  </tr>


                </tbody>

              </template>
            </v-simple-table>

          </v-col>
        </v-row>



      </material-card>

    </v-col>
    
    <v-col cols="12" xs="12" lg="12" sm="12">

      <material-card color="blue" title="Rango de Fechas">
        <div class="datepicker-trigger">
          <v-row>
            <v-col cols="12" lg="6" sm="12">
              <v-menu ref="menu1" v-model="menu1" :close-on-content-click="false" transition="scale-transition" offset-y
                full-width max-width="290px" min-width="290px">
                <template v-slot:activator="{ on }">

                  <v-text-field v-model="FormateddateInicio" label="Fecha de Inicio"
                    v-on="on"></v-text-field>
                </template>
                <v-date-picker v-model="dateInicio" no-title @input="menu1 = false"></v-date-picker>
              </v-menu>

            </v-col>

            <v-col cols="12" lg="6" sm="12">
              <v-menu v-model="menu2" :close-on-content-click="false" transition="scale-transition" offset-y full-width
                max-width="290px" min-width="290px">
                <template v-slot:activator="{ on }">
                  <v-text-field v-model="FormateddateFin" label="Fecha de Fin" persistent-hint
                     v-on="on"></v-text-field>
                </template>
                <v-date-picker v-model="dateFin" no-title @input="menu2 = false"></v-date-picker>
              </v-menu>

            </v-col>
          </v-row>





        
        </div>

      </material-card>


    </v-col>


    <v-col xs="12" sm="12" lg="6">

      <material-card color="blue" title="Ingresos">

        <v-simple-table>
          <template v-slot:default>
            <thead>
              <th>Descripcion</th>
              <th>Cantidad</th>
            </thead>
            <tbody>
              <tr>
                <td>Cantidad Operacion</td>
                <td align="right">{{ingresos.cnt_ope}} </td>
              </tr>

              <tr>
                <td>Impuestos</td>

                <td align="right">
                  <input type="hidden" v-model="ingresos.imp_tot" v-money="money">
                  {{ingresos.imp_tot}}

                </td>
              </tr>
              <tr>
                <td>Igv Total</td>

                <td align="right">
                  <input type="hidden" v-model="ingresos.igv_tot" v-money="money">
                  {{ingresos.igv_tot}}
                </td>
              </tr>
              <tr>
                <td>Subtotal</td>

                <td align="right">
                  <input type="hidden" v-model="ingresos.sub_tot" v-money="money">
                  {{ingresos.sub_tot}}

                </td>
              </tr>

            </tbody>
          </template>
        </v-simple-table>
      </material-card>
    </v-col>

    <v-col xs="12" sm="12" lg="6">

      <material-card color="red" title="Egresos">
        <v-simple-table>
          <template v-slot:default>
            <thead>
              <th>Descripcion</th>
              <th>Cantidad</th>
            </thead>

            <tbody>

              <tr>
                <td>Cantidad Operacion</td>


                <td align="right"> {{ingresos.cnt_ope}}</td>
              </tr>

              <tr>
                <td>Impuestos</td>
                <input type="hidden" v-model="ingresos.imp_tot" v-money="money">
                <td align="right">
                  {{ingresos.imp_tot}}

                </td>
              </tr>
              <tr>
                <td>Igv Total</td>

                <td align="right">
                  <input type="hidden" v-model="ingresos.igv_tot" v-money="money" />
                  {{ingresos.igv_tot}}

                </td>
              </tr>
              <tr>
                <td>Subtotal</td>

                <td align="right">
                  <input type="hidden" v-model="ingresos.sub_tot" v-money="money" />

                  {{ingresos.sub_tot}}

                </td>
              </tr>

            </tbody>
          </template>
        </v-simple-table>
      </material-card>
    </v-col>


    <v-col cols="12" lg="12">

      <material-card color="b" title="Transacciones">
        <v-row>
          <v-col>
            <v-text-field v-model="search" label="Buscar" single-line hide-details></v-text-field>
          </v-col>
          <v-col>
            <v-select label="Documento" :items="filters.documentos" v-model="selectedDocument" @change="suma">
            </v-select>
          </v-col>
          <v-col>
            <v-select label="Cajero" :items="filters.cajeros" v-model="selectedCajero" @change="suma"></v-select>
          </v-col>
        </v-row>



        <v-data-table ref="transacciones" @current-items="fill" :search="search" v-model="transaccion"
          :headers="headers" :items="documentos" :items-per-page="10" class="elevation-1">

          <template v-slot:body="{ items }">
            <tbody>

              <tr v-for="item in items">
                <td>{{ item.ide_caj }}</td>
                <td>{{item.nro_doc}}</td>
                <td>{{item.nom_com}}</td>
                <td>{{item.des_doc}}</td>
                <td align="right">{{item.cnt_ope}}</td>

                <td align="right">
                  <input type="hidden" v-model="item.igv_tot" v-money="money">
                  {{item.igv_tot}}

                </td>
                <td align="right">
                   <input type="hidden" v-model="item.sub_tot" v-money="money">
                  {{item.sub_tot}}

                </td>
                <td align="right">
                   <input type="hidden" v-model="item.sub_tot" v-money="money">
                  {{item.sub_tot}}

                </td>

              </tr>

            </tbody>
          </template>
          <template v-slot:footer>

            <tfoot>

              <tr>

                <td colspan="20%">

                  <strong>
                    <h3>Total:</h3>
                  </strong>
                  <h3>
                    <money v-model="totalTransacciones" v-bind="money"></money>
                  </h3>
                </td>
              </tr>
            </tfoot>

          </template>
        </v-data-table>
      </material-card>
    </v-col>
    <v-col cols="12" xs="12"  sm="12" lg="6">
      <material-card title="Ingresos">
        <IngresosChart :chart-data="ingresosChart" :options="{
      responsive: true,
      maintainAspectRatio: false
    }"></IngresosChart>
      </material-card>
    </v-col>
    <v-col cols="12" xs="12"  sm="12" lg="6">
      <material-card title="Operaciones">
        <Ch :chart-data="operationsChart" :options="{
      responsive: true,
      maintainAspectRatio: false
    }"></Ch>
      </material-card>
    </v-col>
    <v-col  xs="12" sm="12" lg="12">
      <material-card title="Cantidad de Operaciones">
        <Ch :chart-data="operationsChart" :options="{
      responsive: true, 
      maintainAspectRatio: false
    }"></Ch>
      </material-card>
    </v-col>
  </v-row>

</template>
<style scoped>
.img_empresa{
  position: relative;
}
</style>
<script>
  import format from 'date-fns/format'
  import Ch from './OperacionesChart.js'
  import IngresosChart from './IngresosChart.js'

  import {
    Money,
  } from 'v-money'
  export default {
    computed: {
      FormateddateInicio() {
        return this.formatDate(this.dateInicio)
      },

      FormateddateFin(){
return this.formatDate(this.dateFin)
      }




    },

    components: {
      Money,
      Ch,
      IngresosChart
    },
    watch: {
      date(val) {
        this.dateFormatted = this.formatDate(this.date)
      },
      filteredItems() {

        this.filters.documentos = this.filters.documentos.concat(this.columnArray(this.documentos, 'des_doc'))
        this.filters.cajeros = this.filters.cajeros.concat(this.columnArray(this.documentos, 'nom_com'))
        this.totalTransacciones = 0;
        if (this.documentos.length > 0) {
          let sum = this.documentos.reduce((a, b) => ({
            sub_tot: parseFloat(a.sub_tot) + parseFloat(b.sub_tot)
          }));
          this.totalTransacciones = sum.sub_tot.toFixed(2)

        }
      },

      documentos() {


        this.filters.documentos = this.filters.documentos.concat(this.columnArray(this.documentos, 'des_doc'))
        this.filters.cajeros = this.filters.cajeros.concat(this.columnArray(this.documentos, 'nom_com'))
        this.totalTransacciones = 0;
        if (this.documentos.length > 0) {
          let sum = this.documentos.reduce((a, b) => ({
            sub_tot: parseFloat(a.sub_tot) + parseFloat(b.sub_tot)
          }));
          this.totalTransacciones = sum.sub_tot.toFixed(2)

        }
      },
      date(val) {
        this.fecha_inicio = this.formatDate(this.date)
      },
      date2(val) {
        this.fecha_fin = this.formatDate(this.date2)
      },
      dateInicio() {
        console.log(this.$store.state.user.token);
        if (this.fecha_inicio !== null && this.fecha_fin !== null) {
          this.axios.post('http://35.231.103.64:3005/api/transacciones/ingresos', {
              id_eje: this.$store.getters.getUser.user.ide_eje,
              fecha_inicio: this.formatDate(this.dateInicio),
              fecha_fin: this.formatDate(this.dateFin)
            }, {
              headers: {
                token: this.$store.getters.getUser.token
              }
            })
            .then((data) => {
              this.ingresos = data.data

            })
        }
        this.axios.post('http://35.231.103.64:3005/api/transacciones/documentos', {
          id_eje: this.$store.getters.getUser.user.ide_eje,
          id_caja: 0,
          id_doc: 0,
          fecha_inicio: this.formatDate(this.dateInicio),
          fecha_fin: this.formatDate(this.dateFin)
        }, {
          headers: {
            token: this.$store.getters.getUser.token
          }
        }).then((data) => {
          this.documentos = data.data;

        })

      },
      dateFin() {
        if (this.fecha_inicio !== null && this.fecha_fin !== null) {
          this.axios.post('http://35.231.103.64:3005/api/transacciones/ingresos', {
              id_eje: this.$store.getters.getUser.user.ide_eje,
              fecha_inicio: this.formatDate(this.dateInicio),
              fecha_fin: this.formatDate(this.dateFin)
            }, {
              headers: {
                token: this.$store.getters.getUser.token
              }
            })
            .then((data) => {
              this.ingresos = data.data

            })
        }
        this.axios.post('http://35.231.103.64:3005/api/transacciones/documentos', {
          id_eje: this.$store.getters.getUser.user.ide_eje,
          id_caja: 0,
          id_doc: 0,
          fecha_inicio: this.formatDate(this.dateInicio),
          fecha_fin: this.formatDate(this.dateFin)
        }, {
          headers: {
            token: this.$store.getters.getUser.token
          }
        }).then((data) => {
          this.documentos = data.data;

        })
      }

    },
    data() {
      return {
        dateInicio: '',
        dateFin: '',
        dateFormatted: this.formatDate(new Date().toISOString().substr(0, 10)),
        menu1: false,
        menu2: false,
        money: {
          decimal: '.',
          thousands: ',',


          precision: 2,
          masked: true
        },
        logo: 'http://35.231.103.64:3005/api/webapp/logo/' + this.$store.getters.getUser.user.ide_eje,
        filterDoc: [],
        dateFormat: 'DD-MM-YYYY',
        direction: 'ltr',
        dateRange: '',
        pagination: {
          sortBy: 'nro_doc'
        },
        filteredItems: [],
        totalTransacciones: 0,
        dateOne: '',
        dateTwo: '',
        separator: ' - ',
        applyLabel: 'Apply',
        cancelLabel: 'Cancel',
        weekLabel: 'W',
        customRangeLabel: 'Custom Range',

        date: new Date().toISOString().substr(0, 10),
        date2: new Date().toISOString().substr(0, 10),
        fecha_inicio: this.formatDate(new Date().toISOString().substr(0, 10)),
        fecha_fin: this.formatDate(new Date().toISOString().substr(0, 10)),
        menu1: false,
        headers: [{
            sortable: false,
            text: 'id Caja',

            value: 'ide_caj'
          },
          {
            sortable: true,
            text: 'Numero de Documento',
            value: 'nro_doc'
          },
          {
            sortable: true,
            text: 'Nombre Cajero',
            value: 'nom_com',
            filter: value => {
              if (!this.selectedCajero) return true;
              //console.log(this.documentos)
              var texto = this.filters.cajeros.find((data) => {

                return data.value == this.selectedCajero;
              })

              return value == texto.text

            }
          },
          {
            sortable: true,
            text: 'Documento',
            value: 'des_doc',
            filter: value => {
              if (!this.selectedDocument) return true;

              let texto = this.filters.documentos.find((data) => {

                return data.value == this.selectedDocument;
              })


              return value == texto.text
            },
          },
          {
            sortable: true,
            text: 'Cantidad Oper',
            value: 'cnt_ope',


          },

          {
            sortable: true,
            text: 'Igv Total',

            value: 'igv_tot'
          },
          {
            sortable: true,
            text: 'Total Impuestos',

            value: 'imp_tot'
          },
          {
            sortable: true,
            text: 'SubTotal',

            value: 'sub_tot',
          },

        ],
        menu2: false,
        filters: {
          cajeros: [{
            text: 'Sin filtro',
            value: 0
          }],
          documentos: [{
            text: 'Sin filtro',
            value: 0
          }],
        },
        search: '',
        transaccion: [],
        ingresos: {},
        ingresosChart: {
          labels: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Augosto', 'Septiembre', 'Octobre',
            'Novembre', 'Deciembre'
          ],
          datasets: [{
            label: 'Ingresos',
            backgroundColor: '#3645d1',
            data: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
          }]
        },
        cajerosChart: {
          data: {
            labels: ['12am', '3pm', '6pm', '9pm', '12pm', '3am', '6am', '9am'],
            series: [
              [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

            ]
          },
          options: {
            lineSmooth: this.$chartist.Interpolation.cardinal({
              tension: 0
            }),
            low: 0,
            high: 1000, // creative tim: we recommend you to set the high sa the biggest value + something for a better look
            chartPadding: {
              top: 0,
              right: 0,
              bottom: 0,
              left: 0
            }
          }
        },
        operationsChart: {

          labels: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Augosto', 'Septiembre', 'Octobre',
            'Novembre', 'Deciembre'
          ],
          datasets: [{
            label: 'Operaciones',
            backgroundColor: '#f87979',
            data: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
          }]
        },

        items: [],
        selectedDocument: '',
        selectedCajero: '',
        documentos: [],
        tabs: 0,
        list: {
          0: false,
          1: false,
          2: false
        }
      }
    },
    created() {

    },
    mounted() {

      var curr = new Date; // get current date
      console.log(curr)
      var dd = curr.getDate();
      var mm = curr.getMonth() + 1; //January is 0!

      var yyyy = curr.getFullYear();
      if (dd < 10) {
        dd = '0' + dd;
      }
      if (mm < 10) {
        mm = '0' + mm;
      }
      var today = yyyy + '-' + mm + '-' + dd;
      console.log(today)
      this.dateTwo = today;
      this.dateOne = today;
      this.dateInicio=new Date().toISOString().substr(0, 10)
      this.dateFin=new Date().toISOString().substr(0, 10)

      this.axios.post("http://35.231.103.64:3005/api/transacciones/operaciones-anual", {
        ano: curr.getFullYear(),
        id_eje: this.$store.getters.getUser.user.ide_eje,
      }).then((response) => {

        this.operationsChart.datasets[0].data[0] = response.data[0].imp_001
        this.operationsChart.datasets[0].data[1] = response.data[0].imp_002
        this.operationsChart.datasets[0].data[2] = response.data[0].imp_003
        this.operationsChart.datasets[0].data[3] = response.data[0].imp_004
        this.operationsChart.datasets[0].data[4] = response.data[0].imp_005
        this.operationsChart.datasets[0].data[5] = response.data[0].imp_006
        this.operationsChart.datasets[0].data[6] = response.data[0].imp_007
        this.operationsChart.datasets[0].data[7] = response.data[0].imp_008
        this.operationsChart.datasets[0].data[8] = response.data[0].imp_009
        this.operationsChart.datasets[0].data[9] = response.data[0].imp_010
        this.operationsChart.datasets[0].data[10] = response.data[0].imp_011
        this.operationsChart.datasets[0].data[11] = response.data[0].imp_012

      })
      this.axios.post("http://35.231.103.64:3005/api/transacciones/ingresos-anual", {
        ano: curr.getFullYear(),
        id_eje: this.$store.getters.getUser.user.ide_eje,
      }).then((response) => {
        console.log(response.data)
        this.ingresosChart.datasets[0].data[0] = response.data[0].imp_001
        this.ingresosChart.datasets[0].data[1] = response.data[0].imp_002
        this.ingresosChart.datasets[0].data[2] = response.data[0].imp_003
        this.ingresosChart.datasets[0].data[3] = response.data[0].imp_004
        this.ingresosChart.datasets[0].data[4] = response.data[0].imp_005
        this.ingresosChart.datasets[0].data[5] = response.data[0].imp_006
        this.ingresosChart.datasets[0].data[6] = response.data[0].imp_007
        this.ingresosChart.datasets[0].data[7] = response.data[0].imp_008
        this.ingresosChart.datasets[0].data[8] = response.data[0].imp_009
        this.ingresosChart.datasets[0].data[9] = response.data[0].imp_010
        this.ingresosChart.datasets[0].data[10] = response.data[0].imp_011
        this.ingresosChart.datasets[0].data[11] = response.data[0].imp_012

      })
      console.log(this.ingresosChart)


    },
    methods: {
      formatDate(date) {
        if (!date) return null

        const [year, month, day] = date.split('-')
        return `${day}/${month}/${year}`
      },
      parseDate(date) {
        if (!date) return null

        const [month, day, year] = date.split('/')
        return `${day.padStart(2, '0')}-${month.padStart(2, '0')}-${year}`
      },
      fill(data) {

        if (data.length > 0) {
          let sum = data.reduce((a, b) => ({
            sub_tot: parseFloat(a.sub_tot) + parseFloat(b.sub_tot)
          }));
          this.totalTransacciones = sum.sub_tot.toFixed(2)
          console.log(this.totalTransacciones)

        }
      },

      suma() {


        let g = this.$refs.transacciones._$data;
        //   console.log(this.$refs.transacciones._data);
        if (this.$refs.transacciones._internalCurrentItems.length > 0) {
          let sum = this.$refs.transacciones._internalCurrentItems.reduce((a, b) => ({
            sub_tot: parseFloat(a.sub_tot) + parseFloat(b.sub_tot)
          }));
          // this.totalTransacciones = sum.sub_tot.toFixed(2)
          // console.log(this.$refs.refName.filteredItems)
        }

      },

      findElements(value, array) {
        for (let a = 0; a < array.length; a++) {
          if (value != array[a].value) {
            return false;
          }
        }

      },
      filterManual() {
        this.filterDoc = this.documentos.filter((data) => {

          return data.value == this.selectedDocument.text;
        })
      },
      filterTable(value, string) {
        console.log(value);
        return value == this.selectedDocument
      },
      columnArray(arr, property) {

        let list = []
        for (let a = 0; a < arr.length; a++) {

          let index = list.findIndex((datos) => {
            return datos.text == arr[a][property]
          })
          if (index == -1) {
            list.push({
              text: arr[a][property],
              value: a + 1
            });
          }

        }
        return list

      },


      changeSort(column) {
        if (this.pagination.sortBy === column) {
          this.pagination.descending = !this.pagination.descending
        } else {
          this.pagination.sortBy = column
          this.pagination.descending = false
        }
      },
      changeSort(column) {
        if (this.pagination.sortBy === column) {
          this.pagination.descending = !this.pagination.descending
        } else {
          this.pagination.sortBy = column
          this.pagination.descending = false
        }
      },
      columnValueList(val) {
        return this.desserts.map(d => d[val])
      },
      toggleAll() {
        if (this.selected.length) this.selected = []
        else this.selected = this.desserts.slice()
      },
      formatDates(dateOne, dateTwo) {
        console.log(dateOne);
        let formattedDates = ''
        if (dateOne) {
          formattedDates = format(dateOne, this.dateFormat)
        }
        if (dateTwo) {
          formattedDates += ' - ' + format(dateTwo, this.dateFormat)
        }
        return formattedDates
      },
      formatDate(date) {
        if (!date) return null

        const [year, month, day] = date.split('-')
        return `${day}/${month}/${year}`
      },
      parseDate(date) {
        if (!date) return null

        const [month, day, year] = date.split('/')
        return `${year}-${month.padStart(2, '0')}-${day.padStart(2, '0')}`
      },
      complete(index) {
        this.list[index] = !this.list[index]
      }
    }
  }

</script>
