<template>
  <v-container fill-height fluid>
    <v-row justify="center">
      <v-col cols="12" md="8">
        <material-card color="green" title="Perfil de Usuario" >
          <v-form>
            <v-container class="py-0">
              <v-row>
                <v-col cols="12" md="6">
                  <v-text-field label="Compania"  v-model="$store.getters.getUser.user.nom_com" />
                </v-col>

                <v-col cols="12" md="4">
                  <v-text-field class="purple-input" label="User Name" v-model="$store.getters.getUser.user.cidusuario" />
                </v-col>

              

                <v-col cols="12" md="6">
                  <v-text-field label="Nombre Completo" class="purple-input"  v-model="$store.getters.getUser.user.nom_com" />
                </v-col>

                <v-col cols="12">
                  <v-text-field label="Municipalidad"  v-model="$store.getters.getUser.user.nom_eje" class="purple-input" />
                </v-col>

              
                

                

               

                <v-col cols="12" class="text-right">
                  <v-btn color="success">
                    Update Profile
                  </v-btn>
                </v-col>
              </v-row>
            </v-container>
          </v-form>
        </material-card>
      </v-col>
      <v-col cols="12" md="4">
        <material-card class="v-card-profile">
          <v-avatar slot="offset" class="mx-auto d-block elevation-6" size="130">
            <img :src="foto">
          </v-avatar>
          <v-card-text class="text-center">
            <h6 class="overline mb-3">
              CEO / CO-FOUNDER
            </h6>

            <h4 class="font-weight-light">
              {{$store.getters.getUser.user.cdescribe}}
            </h4>

            <p class="font-weight-light">

            </p>

            <v-btn color="success">
              Follow
            </v-btn>
          </v-card-text>
        </material-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
  export default {
    mounted() {
      this.foto = `http://localhost:3005/api/visitas/trabajador/foto/${this.$store.getters.getUser.user.ide_trb}`
    //  this.axios.get('http://localhost:3005/api/ejecutora', {
    //       params: {
    //         ruc: this.$store.getters.getUser.user.ruc
    //       }
    //     })
    console.log(this.foto);
      this.axios.get(`http://localhost:3005/api/visitas/trabajador/usuario/${this.$store.getters.getUser.user.cidusuario}?ide_eje=${this.$store.getters.getUser.user.ide_eje}`)
      .then((data)=>{
        console.log(data)
      })
    },
    data() {
      return {
        foto: '',
        compania:'',
        nombre_eje:'',
        nro_doc:'',
        ruc_eje:'',
      }

    }
  }

</script>
