<template>
  <v-app>
    <div v-if="$store.getters.getUser">
<core-app-bar />

    <core-drawer />

    <core-view />
    </div>
    <div v-else>
      <login-view></login-view>
    </div>

   
  </v-app>
</template>

<script>
import DateRangePicker from 'vue2-daterange-picker'
//you need to import the CSS manually (in case you want to override it)
import 'vue2-daterange-picker/dist/vue2-daterange-picker.css'
  export default {
    components: {  DateRangePicker ,
      CoreDrawer: () => import('@/components/core/Drawer'),
      CoreFooter: () => import('@/components/core/Footer'),
      CoreAppBar: () => import('@/components/core/AppBar'),
      CoreView: () => import('@/components/core/View'),
      LoginView:()=>import('@/components/auth/Login')
    }

  }
</script>
