<template>
  <div id="example-2" class="outer">
    <v-layout row wrap class="middle">
      <v-flex xs10 sm8 md6 lg6 offset-xs1 offset-sm2 offset-md3 offset-lg3>
        <v-card class="mb-4">
          <v-card class="success">
          </v-card>
          <v-toolbar dark color="blue darken-3">
            <v-toolbar-title>SIAM S.R.L.</v-toolbar-title>
          </v-toolbar>
          <v-card-text>
            <v-subheader>Datos de la entidad</v-subheader>
            <v-container grid-list-xl fluid py-0>
              <v-layout row wrap>
                <v-flex xs12 sm6 py-0>
                  <v-text-field label="Ruc" v-model="ruc" autofocus 
                    :append-icon-cb="() => consulta_ejecutora()" v-on:blur="consulta_ejecutora()"
                    @keyup.enter="consulta_ejecutora()"></v-text-field>
                </v-flex>
                <v-flex xs12 sm6 py-0>
                  <v-text-field label="Ejecutora" v-model="ejecutora" disabled></v-text-field>
                </v-flex>
              </v-layout>
              <v-layout row wrap>
                <v-flex xs12 sm6 py-0>
                  <v-text-field label="Nombre" v-model="nombre" disabled></v-text-field>
                </v-flex>
                <v-flex xs12 sm6 py-0>
                  <v-text-field label="Ubigeo" v-model="ubigeo" disabled></v-text-field>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card-text>
          <v-divider></v-divider>
          <v-card-text>
            <v-subheader>Identificacion de usuario</v-subheader>
            <v-alert type="error" :value="formError">
              {{ formError }}
            </v-alert>

            <v-container grid-list-xl fluid py-2>
              <v-layout row wrap>
                <v-flex xs12 sm4>
                  <v-avatar size="100px">
                    <img :src="foto" onerror="this.src='/images/foto.jpg'" alt="avatar">
                  </v-avatar>
                </v-flex>

                <v-flex xs12 sm8>
                  <v-flex xs12 py-0>
                    <v-text-field label="Usuario" id="username" v-model="usuario" v-on:blur="consulta_foto()">
                    </v-text-field>
                  </v-flex>
                  <v-flex xs12 py-0>
                    <v-text-field type="password" id="password" label="Password" v-model="password"></v-text-field>
                  </v-flex>
                </v-flex>
              </v-layout>

            </v-container>
          </v-card-text>
          <v-divider></v-divider>
          <v-card>
            <v-card-actions>
              <v-btn flat class="blue--text darken-1" @click="login()">Ingresar</v-btn>
            </v-card-actions>
          </v-card>
        </v-card>
      </v-flex>
    </v-layout>
  </div>
</template>
<script>
  export default {
 
    layout: 'autenticate',
    mounted: function () {
      this.ejecutora = ''
      this.nombre =''
      this.ruc =  ''
      this.ubigeo =  ''
    },
    data() {
      return {
        formError: null,
        usuario: '',
        password: '',
        ejecutora: '',
        nombre: '',
        ruc: '',
        ubigeo: '',
        ide_eje: null,
        login_disabled: '',
        foto: '/images/foto.jpg'
      }
    },
    methods: {
      async consulta_foto() {
        const {
          data: trabajador
        } = await this.axios.get(`http://35.231.103.64:3005/api/visitas/trabajador/usuario/${this.usuario}?ide_eje=${this.ide_eje}`)
        this.foto = `http://35.231.103.64:3005/api/visitas/trabajador/foto/${trabajador.ide_trb}`
      },
      async login() {
         this.axios.post('http://35.231.103.64:3005/api/login/v2', 
         { usuario:this.usuario, password:this.password, ejecutora:this.ejecutora })
         .then((data)=>{
           console.log(data)
 this.$store.dispatch('login', {
            user:data.data.aut,
            token:data.data.token
          })
         }).catch((e)=>{
           this.formError = "Error de autenticación"
         })
      
      },
      async consulta_ejecutora() {
        const eje = await this.axios.get('http://35.231.103.64:3005/api/ejecutora', {
          params: {
            ruc: this.ruc
          }
        })
        console.log(eje);
        this.ubigeo = eje.data.cod_ubi + ' - ' + eje.data.des_ubi
        this.nombre = eje.data.nom_eje
        this.ejecutora = eje.data.cod_eje
        this.ide_eje = eje.data.ide_eje
        this.login_disabled = false
        localStorage.setItem("ruc", eje.ruc_eje);
        localStorage.setItem("ejecutora", eje.cod_eje);
        localStorage.setItem("ubigeo", eje.cod_ubi + ' - ' + eje.des_ubi);
        localStorage.setItem("nombre", eje.nom_eje);
        localStorage.setItem("ide_eje", eje.ide_eje);
        localStorage.setItem("disabled", false);
      },
    }
  }
</script>

<style>
  .outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
  }

  .middle {
    display: table-cell;
    vertical-align: middle;
  }
</style>